.custom-input {
    display: grid;

    &__label {
        font-size: 13px;
    }

    &__input {
        max-height: 25px;
        border: 1px solid rgb(190, 129, 16);
        border-radius: 5px;
    }
    &--error {
        background-color: rgb(240, 147, 147);
    }
}
